@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');


body, header,ul{
    margin: 0;
    padding: 0;
}

.container {
    /* Set the size of the container */
    width: 100vw; /* 100% of the viewport's width */
    height: 100vh; /* 100% of the viewport's height */
  
    /* Add a background image */
    background-image: url('images/Astronaut.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Create a pseudo-element for the overlay */
    position: relative;
  }
  @media only screen and (max-width: 600px) {
    .container {
        background-image: url('images/Astronaut1.webp');
    }
  }
  
  .container::before {
    /* Position and size the overlay */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    /* Set the color and opacity of the overlay */
    background-color: rgba(0, 0, 0, 0.837);
  }

  .home-container {
    /* Add a large text */
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    font-size: 5.5vw; /* Adjust this value to change the size of the text */
    color: #ffffff; /* Change this value to change the color of the text */
    text-align: left; /* This will anchor the text to the left */
    
  }
  @media only screen and (max-width: 600px) {
    .home-container {
      font-size: 50px; /* Adjust this value to change the size of the text on mobile screens */
      text-align: left;
    }
  }

  .overlay-text {
  position: absolute;
  top: 35%;
  left: 10%;
  transform: translateY(-50%);

}

  






.logo {
    padding-left: 7em;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    background-color: black;
    padding: 1em;
}
.menu-items {
    display: flex;
    gap: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1em;
}
nav ul li {
    display: inline;

}

nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0;
    font-family: 'Sen', sans-serif;
    font-weight: normal;
    font-size: 1em;

}


.menu-toggle {
    position: fixed;
    top: 10px;
    right: 2vw;
  width: 50px;
  
  cursor: pointer;
  z-index: 5; 

  opacity: 0.2;
  transition: opacity 0.5s,
}
  
  .bar {
    background-color: #ffffff;
    height: 4px;
    width: 80%;
    margin: 8px auto;
    transition: 0.4s;
   
  }

.menu-toggle.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 3px);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -4px);
}

#menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  transition: opacity 0.5s;
  z-index: 5; 
  visibility: hidden;

}

.menu-item {
    width: 35vw;
    height: 8vw;
    background-color:rgba(0, 0, 0, 0.897);
    border: 0.2vw;
    border-style: solid;
    color: #fff;
    font-size: 3vw;
    font-family: 'Josefin Sans', sans-serif;
    
    text-decoration: none;
    font-weight: lighter;
    display: flex;
    align-items: center;
    
    justify-content: center;
    margin: 2.5vw;
    opacity: 0;
    transform: translateY(5vw);
    transition: opacity 0.5s, transform 0.5s;
    z-index: 5; 
  
    cursor: pointer;
    transition: transform 0.3s; 
  }
  

.menu-item.active {
  opacity: 1;
  transform: translateY(0);
}
.menu-item:hover {
  transform: scale(1.1); 
}
#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.952);
  z-index: 4;  
  visibility: hidden;

  opacity: 0;
  transition: opacity 0.8s ease-in-out, visibility 0.9s ease;
}

#menu-mobile{
    display: none;
}

@media only screen and (max-width: 1000px) {
    #menu-desktop {
        display: none;
    }

    #menu-mobile{
        display: block;
    }

}


